[Unit]
Description=The Adminer Daemon

[Service]
User=root
WorkingDirectory=/usr/lib/adminer
ExecStart=/usr/lib/adminer/adminer-start
Restart=always

[Install]
WantedBy=multi-user.target
