[Unit]
Description=The Adminer Daemon

[Service]
User=root
WorkingDirectory=/var/lib/adminer
ExecStart=adminer-start
Restart=always

[Install]
WantedBy=multi-user.target
